.idea/
node_modules/
dist/
generated/
npm-debug.log
yarn-error.log
coverage
.vscode
.npmrc
.env
nohup.out

# Yarn 4
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# eslint section
!.eslintrc.js
.eslintcache

nohup.out