name: Code Review

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version-file: .node-version
          cache: yarn

      - name: Install dependencies
        run: yarn install --immutable

      - name: Lint
        run: yarn lint

      - name: Validate openAPI
        run: npx oval validate -p openapi/index.yaml

  build_and_test:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version-file: .node-version
          cache: yarn

      - name: Install dependencies
        run: yarn install --immutable

      - name: Build
        run: yarn build

      - name: Unit tests
        run: yarn test

      - name: Code coverage
        run: bash <(curl -s https://codecov.io/bash)

  integration_tests:
    name: Integration Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version-file: .node-version
          cache: yarn

      - name: Install dependencies
        run: yarn install --immutable

      - name: Start mailhog
        run: docker run -d -p 1025:1025 -p 8025:8025 --name mailhog --rm mailhog/mailhog

      - name: Start mock CosmosDB
        run: |
          npm install -g @zeit/cosmosdb-server
          nohup cosmosdb-server -p 3000 &

      - name: Start mock Azure Storage
        run: docker run -d --rm -p 10000:10000 mcr.microsoft.com/azure-storage/azurite azurite-blob --blobHost 0.0.0.0

      - name: Integration tests
        env:
          MAILHOG_HOSTNAME: localhost
          COSMOSDB_URI: https://localhost:3000/
          COSMOSDB_KEY: "dummy key"
          COSMOSDB_DATABASE_NAME: integration-tests
          STORAGE_CONN_STRING: "DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://127.0.0.1:10000/devstoreaccount1;"
        run: yarn test:integration
