name: Release

on:
  push:
    branches:
      - master

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    environment: prod-cd
    runs-on: ubuntu-latest
    permissions:
      # Required for creating releases and tags
      contents: write
      # Required for OIDC/Provenance
      id-token: write
      # Required for creating PRs
      pull-requests: write
    steps:
      - name: Checkout Repo
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
        with:
          fetch-depth: 0

      - name: Setup Node.js environment
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version-file: '.node-version'
          cache: 'yarn'
          cache-dependency-path: "yarn.lock"

      # Upgrade npm since trusted publishing requires npm CLI version 11.5.1 or later
      - name: Upgrade npm
        run: npm install -g npm@^11.5.1

      - name: Install Dependencies
        run: yarn install --frozen-lockfile

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@e0145edc7d9d8679003495b11f87bd8ef63c0cba
        with:
          version: yarn run version
          publish: yarn run release
          commit: 'ci(changesets): version packages'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # Fix until https://github.com/changesets/action/pull/545 is merged and released.
          # More context: https://github.com/changesets/action/issues/542
          NPM_TOKEN: ''
          NPM_CONFIG_PROVENANCE: true

